<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="in.silive.scrolls16">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <permission android:name="in.silive.scrolls16.permission.C2D_Message" />
    <uses-permission-sdk-23 android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <uses-permission android:name="in.silive.scrolls16.permission.C2D_Message" />


    <application
        android:allowBackup="true"
        android:icon="@mipmap/fav"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/ScrollsTheme">
        <activity
            android:name="in.silive.scrolls16.Activities.Splash"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="in.silive.scrolls16.Activities.MainActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="in.silive.scrolls16.Activities.MyPickerActivity"
            android:screenOrientation="portrait"
            android:theme="@style/FilePickerTheme"
            android:windowSoftInputMode="adjustPan" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />

        <service android:name="in.silive.scrolls16.Services.GCMListener">
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
            </intent-filter>

        </service>
        <service android:name="in.silive.scrolls16.Services.InstanceIDListener"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.android.gms.iid.InstanceID" />
            </intent-filter>

        </service>
        <service android:name="in.silive.scrolls16.Services.RegisterGCM" />


        <receiver
            android:name="com.google.android.gms.gcm.GcmReceiver"
            android:exported="true"
            android:permission="com.google.android.c2dm.permission.SEND">
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
                <category android:name="in.silive.scrolls" />
            </intent-filter>
        </receiver>



        <activity
            android:name="in.silive.scrolls16.Activities.SecondActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan|stateHidden" ></activity>
        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="181e8e36d7a52e78eb8c6d7bd04b600d38fbc9cd" />
    </application>

</manifest>